name: Testing

on: [push, workflow_call]

permissions:
  contents: read

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Unit tests
        run: ./gradlew :lib:testDebugUnitTest
      - name: Lint
        run: ./gradlew :lib:lintDebug
